<div class="embeddedLink-inner component-inner">
    {{> component this}}
    <div class="component-widget embeddedLink-widget">

        <div class="embeddedLink-description-container">
            {{#if _hasPagination}}
                <div class="pagination-controller-bar clearfix">
                    <div class="embeddedLink-pagination-controls">
                        <div class="back-container">
                            <a href="#" class="embeddedLink-popup-controls back" title="back" alt="back">
                                <span class="embeddedLink-popup-arrow-l component-item-text-color icon icon-controls-small-left"></span>
                            </a>
                        </div>
                        <div class="embeddedLink-popup-count component-item-text-color count-container">
                            <span class="current">1</span>/<span class="total">1</span>
                        </div>
                        <div class="next-container">
                            <a href="#" class="embeddedLink-popup-controls next" title="next" alt="next">
                                <span class="embeddedLink-popup-arrow-r component-item-text-color icon icon-controls-small-right"></span>
                            </a>
                        </div>
                    </div>
                    <div class="embeddedLink-audio-icon-container">
                        <a href="#" class="embeddedLink-graphic-pin component-item-text-color {{#if _isVisited}}visited{{/if}}">
                            <span class="embeddedLink-graphic-pin-icon component-item-color icon icon-sound"></span>
                        </a>
                    </div>
                </div>
            {{else}}
                <a href="#" class="embeddedLink-graphic-pin component-item-text-color {{#if _isVisited}}visited{{/if}}">
                    <div class="embeddedLink-graphic-pin-icon component-item-color icon icon-sound"></div>
                </a>
            {{/if}}
            <div class="embeddedLink-description">
                {{#if _page.title}}
                    <div class="page-title">{{{_page.title}}}</div>
                {{/if}}
                <div class="page-body pageText-1">{{{_page.body}}}</div>
            </div>
            <div class="embeddedLink-audio-container">
                {{#if _page.audioSrc}}
                    <div class="embeddedLink-item-audio">
                        <audio preload="none">
                            {{#each _page.audioTypes}}
                                <source src="{{../_page.audioSrc}}.{{type}}" type="{{codec}}">
                            {{/each}}
                        </audio>
                    </div>
                {{/if}}
            </div>
        </div>

        <div class="embeddedLink-iframe-holder">
            {{#if _isImage}}
            <img class="embeddedLink-image" src="{{_source}}">
            {{else}}
                {{#if _isVideo}}
                <video class="embeddedLink-video" controls>
                    <source src="{{_source}}" type="video/mp4">
                    <source src="{{_source}}" type="video/ogg">
                </video>
                {{else}}
                <img class="embeddedLink-iframe-posterImage" src="{{_posterImage}}">
                <iframe scrolling="no" class="embeddedLink-iframe" src="{{_source}}" style="height:{{_height}}px">
                </iframe>
                {{/if}}
            {{/if}}
            {{#if _isLightBox}}
                <div class="embeddedLink-lightBox-popup-container modal">
                    {{#if _isVideo}}
                        <video class="embeddedLink-lightBox-video" controls>
                            <source src="{{_source}}" type="video/mp4">
                            <source src="{{_source}}" type="video/ogg">
                        </video>
                    {{else}}
                        <div class="embeddedLink-lightBox-iframe-parent">
                        <iframe scrolling="no" class="embeddedLink-lightBox-popup" src="{{_source}}">
                        </iframe>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        </div>

        {{#if _isImage}}
        {{else}}

            <div class="embeddedLink-zoomin-button">
                {{#if _isDocument}}
                    <i class="icon icon-expand"></i>
                {{else}}
                    <i class="icon icon-popup"></i>
                {{/if}}
            </div>



        {{/if}}
    </div>
</div>
